allow audioserver audio_prop:property_service set;
allow audioserver persist_file:dir search;

allow priv_app device:dir read;
allow priv_app device:dir write;
allow priv_app device:dir open;

allow installd shell_exec:file { entrypoint getattr read };
allow installd system_data_file:file open;

allow system_app cache_file:dir create_dir_perms;
allow system_app cache_file:file create_file_perms;

allow system_server unlabeled:file unlink;

allow untrusted_app sysfs:file getattr;
allow untrusted_app sysfs:file read;
allow untrusted_app sysfs:file write;
allow untrusted_app sysfs:file open;

allow dpmd self:capability sys_ptrace;

allow platform_app app_data_file:file execute;
allow isolated_app app_data_file:dir search;

set_prop(qti_init_shell, ts_post_init_done_prop)
allow qti_init_shell system_data_file:file open;
allow qti_init_shell persist_ts_profile:file { getattr open read };
allow system_app persist_ts_profile:file { getattr open };
allow system_app persist_ts_profile:property_service set;
allow system_app persist_ts_profile:file read;
allow system_app sysfs:file write;
allow system_app sysfs_devices_system_cpu:file write;
allow system_app sysfs_thermal:file write;

allow qti_init_shell sysfs:dir setattr;
allow qti_init_shell sysfs:lnk_file setattr;
allow qti_init_shell sysfs_devices_system_cpu:dir setattr;
allow qti_init_shell sysfs_devices_system_cpu:file setattr;
allow qti_init_shell sysfs_devices_system_cpu:lnk_file setattr;
allow qti_init_shell sysfs_mpdecision:file { getattr setattr };
allow qti_init_shell sysfs_rqstats:dir setattr;
allow qti_init_shell sysfs_thermal:dir setattr;
allow qti_init_shell sysfs_thermal:file setattr;

allow qti_init_shell storage_file:dir getattr;
allow qti_init_shell storage_file:dir search;
allow qti_init_shell storage_file:lnk_file read;
allow qti_init_shell system_data_file:file unlink;
allow qti_init_shell system_data_file:file create;
allow qti_init_shell system_data_file:file { setattr write };
allow qti_init_shell media_rw_data_file:dir search;
allow qti_init_shell media_rw_data_file:file getattr;
allow qti_init_shell media_rw_data_file:file read;
allow qti_init_shell media_rw_data_file:file open;

set_prop(system_server, ts_post_init_done_prop)
set_prop(system_server, persist_ts_profile)
allow system_server shell_exec:file { execute execute_no_trans getattr open read };
allow system_server sysfs_thermal:file write;
allow system_server persist_file:dir getattr;

allow cameraserver sysfs:file write;

allow shell dalvikcache_data_file:dir write;
allow shell self:capability dac_override;
